%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{deps, [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git"}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney"}},
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git"}},
        {lhttpc, ".*", {git, "git://github.com/eproxus/lhttpc", {branch, 'hint-encoding'}}}
       ]}.
